# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cursor rules
.cursor
.vercel

# Environment variables
.env

# Archivos y carpetas usados para pruebas/desarrollo
bakend-REFERENCIA-AGREGAR-NUEVAS-LLAMADAS
bbdd-data_inmutable(NOEDITAR)
scripts
bbdd-inmutable(NOEDITAR).sql
.api
