

.animated-background-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
    z-index: 0;
    overflow: hidden;
}

@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
    .animated-background-container {
        display: block;
    }
}

a-hole {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a-hole:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 150%;
    height: 140%;
    background: radial-gradient(ellipse at 50% 55%, transparent 10%, black 100%);
    transform: translate3d(-50%, -50%, 0);
    content: "";
}

a-hole:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at 50% 75%, #a900ff 20%, transparent 75%);
    mix-blend-mode: overlay;
    transform: translate3d(-50%, -50%, 0);
    content: "";
}

a-hole .aura {
    position: absolute;
    top: -71.5%;
    left: 50%;
    z-index: 3;
    width: 30%;
    height: 140%;
    background: linear-gradient(
        20deg,
        #00f8f1,
        #ffbd1e20 16.5%,
        #fe848f 33%,
        #fe848f20 49.5%,
        #00f8f1 66%,
        #00f8f160 85.5%,
        #ffbd1e 100%
    ) 0 100% / 100% 200%;
    border-radius: 0 0 100% 100%;
    filter: blur(50px);
    mix-blend-mode: plus-lighter;
    opacity: 0.75;
    transform: translate3d(-50%, 0, 0);
    animation: aura-glow 5s infinite linear;
}

@keyframes aura-glow {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 300%;
    }
}

a-hole canvas.js-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.custom-input-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #F3F4F6;
}
.custom-input-scrollbar::-webkit-scrollbar {
  width: 6px;
  margin-right: 8px; /* visual separation */
}
.custom-input-scrollbar::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 8px;
  margin-right: 8px;
}
.custom-input-scrollbar::-webkit-scrollbar-track {
  /* background: #222; */
  border-radius: 8px;
}